 <html>
   <head>
     <title>Getting Started</title>
       <style>
           .number2,.number3{color:#C40000;font-size:60px;font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif"}
       </style>
   </head>
   <body>
		<div id="app">
            <index></index>
		</div>

        <script type="text/javascript" src="{{base_url}}/dist/common.bundle.js"></script>
        <script type="text/javascript" src="{{base_url}}/dist/index.bundle.js"></script>

   </body>
  </html>